.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;

    #video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover; /* Ensures the video covers the entire container */
      z-index: -2;
      animation-delay: 7s;
    }
  }
  
.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #f9f9fa;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}



@media screen and (max-width: 1200px) {

  .page{
    width:40%;
  }
}