.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
  }
  
.top-tags {
  bottom: auto;
  top: 35px;
}

.tags {
  color: #f9f9fa;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  left: 120px;
  font-size: 18px;
  font-family: 'La Belle Aurore', cursive;
}

.bottom-tag-html {
  margin-left: -20px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.container.contact-page,
.container.about-page,
.container.portfolio-page {
  
    h1 {
      font-size: 53px;
      font-family: 'Roboto';
      color: #22fffc;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      animation-delay: 10s;

      &:before {
        font-family: 'Roboto';
        color: #22fffc;
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &:after {
        font-family: 'Roboto';
        color: #22fffc;
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

    p {
      font-size: 18px;
      color: #fff;
      left: -5px;
      font-family: 'Roboto';
      font-weight: 300;
      max-width: fit-content;
      // animation: ease-in-out linear 1s;
      animation-delay: 2s;
    }

    .text-zone {
      position: absolute;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      width: 35%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;
    }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 1200px) {

  .page{
    width:40%;
  }
  .container {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: 10px;
    left: 20px;

    .about-page #about-img {
      height: 30% !important;
      width: 25% !important; 
      left: 10px;
    }

    .container.about-page .text-zone{
      position: relative;
      left: 30px;
    }

  .about-img{
    height: 30%;
    width: 25%;
    left: 10px;
  }
}
}

@media only screen and (max-width: 550px) {
  .about-page #about-img {
      height: 30%;
      width: 25%; 
      left: 10px;
  }
}
