// .about-page {
//   margin: 5%;
//   width: 100%;
//   height: 100%;
//   position: relative; /* Changed from absolute */
//   color: #ffffff;
//   display: grid;
//   grid-template-columns: repeat(6, 1fr);
//   grid-template-rows: repeat(6, 1fr);
//   grid-gap: 10px;

//   .aboutme {
//     grid-row-start: 3;
//     grid-row-end: 6;
//     grid-column-start: 1;
//     grid-column-end: 5;
//     width: 100%; /* Updated for better alignment */
//     height: auto;
//     margin-left: 0; /* Removed the left margin for better centering */
//     font-size: 20px;
//     font-family: 'Roboto';
//     grid-area: para-about;
//   }

//   .heading-about {
//     grid-row-start: 1;
//     grid-row-end: 2;
//     grid-column-start: 1;
//     grid-column-end: 3;
//     font-size: 28px;
//     color: #22fffc;
//     font-family: 'Roboto';
//     grid-area: about;
//     text-align: center; /* Center heading text */
//   }

//   .image-about {
//     grid-row-start: 3;
//     grid-row-end: 6;
//     grid-column-start: 5;
//     grid-column-end: 7;
//     display: flex;
//     justify-content: center; /* Center image */
//     align-items: center;
//     grid-area: img-about;

//     img {
//       width: 40%; /* Adjusted for better visual balance */
//       height: auto;
//       opacity: 0.8;
//     }
//   }
// }

// @media only screen and (max-width: 550px) {
//   .about-page {
//     grid-template-columns: 1fr;
//     grid-template-rows: auto auto auto;
//     grid-template-areas:
//       "about"
//       "para-about"
//       "img-about";
//   }
// }

p {
  font-size: 18px;
  color: #fff;
  left: -5px;
  font-family: 'Roboto';
  font-weight: 300;
  max-width: fit-content;
  // animation: ease-in linear 1s;
  animation-timing-function: linear;
  animation-delay: 2s !important;
}
