.about-page {
  margin: 5%;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #ffffff;

  .aboutme{
    width: 60%;
    height: 60%;
    margin-left: 2%;
    position: relative;
    top: 20%;
    font-size: 20px;
    font-family: 'Roboto';
  }

  .heading-about{
    font-size: 28px;
    color:#22fffc;
    font-family: 'Roboto';
    margin-left: 2%;
  }

  img{
    // position: absolute;
    z-index: index 1;
    width: 20%;
    height: 10%;
  }
}


.top-tags {
  bottom: auto;
  top: 35px;
}

.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}
