.home-page {
    width: 100%;
    height: 100vh;
    will-change: contents;
    // min-height: 566px;
    position: absolute;
    // opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 2s  forwards;
    animation-delay: 1s;

    h1 {
        font-size: 70px;
        font-family: 'Roboto';
        color: #ffffff;
        font-weight: 300;
        margin-top: 0;
        position: relative;
        margin-bottom: -25px;
        // left: -10px;
    }

    h3{
      font-size: 26px;
      font-family: 'Roboto';
      color:#22fffc;
      font-weight: 200;
      // margin-top: .5px;    
    }

    h2{
      font-size: 50px;
      font-family: 'Roboto';
      font-weight: 200;
      color: #ffffff;
      margin-bottom: 25px;    
      animation: linear 1s linear both;
      animation-delay: 1.4s;
    }
      
    .text-zone {
      position: absolute;
      left: 10%;
      top: 30%;
      transform: translateY(-50%);
      width: 50%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;
    }
  
    .text-animate-hover {
      &:hover {
        color: #ffffff;
      }
    }

    #video {
      position: fixed;
      top: 0;
      bottom: 30px;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover; 
      /* Ensures the video covers the entire container */
      z-index: -2;
      animation-delay: 7s;
    }

    .responsive-image{
      position: fixed;
      bottom: 30px;
      left : 10px;
      height: 60%;
      // width: calc(100% - 20px);
      z-index: -2;
    }  
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }
  h1{
    font-size: 25px !important;
    justify-content: center;
  }

  h3{
    font-size: 20px !important;
  }

  .page #video {    
    width: 0% !important;
    height: 0% !important;
  }

  .home-page .text-zone {
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
    top: 20px;
    margin:5px;
    margin-left:50px;
    left: 30%;
  }

  .home-page .flat-button {
    display: block;
    // margin: 20px auto 0 auto;
    font-size: 16px;
    cursor: pointer;
  }

}
