
.nav-bar{
    background: #000000;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    .logo{
        display: block;
        padding: 8px 0px;
    }

    img{
        display: block;
        margin: 8px 8px;
        width: 50px ;
        height: auto;
    }
}

nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #000000;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      a.active{
        svg{
            color: #22fffc;
        }
      }

      &:hover {
        color: #20fffc;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
    }
    a.active{
        svg{
            color: #74dbef;
        }
    }
}

ul {
position: absolute;
bottom: 20px;
width: 100%;
display: block;
padding: 0;
list-style: none;
text-align: center;
margin: 0;

li {
    a {
    padding: 7px 0;
    display: block;
    font-size: 15px;
    line-height: 16px;
    color: #4d4d4e;
    }

    &:hover {
    .anchor-icon {
        color: #74dbef;
    }
    }
}
}
