body {
  margin: 0;
  font:'Roboto';
  /* background: #a2e7fa; */
  background: #222222;
  overflow: hidden;
  display: block;
  /* background: rgb(70,207,234); */
/* background: linear-gradient(160deg, rgba(70,207,234,1) 0%, rgba(202,240,248,1) 39%, rgba(133,223,241,1) 86%, rgba(70,207,234,1) 100%); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font:'Roboto';
}
